.header-container {
  background-color: white;
  color: black;
  padding: 14px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;

}
.home-image-link {
  display: inline-block;
  padding: 5px;
}

.home-image {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%; /* Optional: makes it circular */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.home-image:hover {
  transform: scale(1.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.home-icon {
  font-size: 20px;
  margin-right: 10px;
}

.home-icon a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.home-icon a:hover {
  color: #1976d2;
}

.app-title {
  font-size: 22px;
  font-weight: bold;
  color: #42a5f5;
  margin-left: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1976d2;
}

.icon-link i {
  font-size: 20px;
  color: black;
  transition: color 0.3s ease;
}

.icon-link:hover i {
  color: #1976d2;
}

.appointment-btn {
  background-color: #42a5f5;
  color: white;
  border: none;
  padding: 14px 28px; /* Increased height and width */
  border-radius: 6px;
  /* cursor: pointer; */
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.appointment-btn:hover {
  background-color: #1976d2;
}
.profile-icon {
  font-size: 24px;
  color: black;
  transition: color 0.3s ease;
}

.profile-icon:hover {
  color: #1976d2;
}