<app-header></app-header>
<div class="homepage-container">
  <div class="text-section">
    <h2>appointment</h2>
    <h1>BOOKING</h1>
    <p>
      Book your hospital appointments easily and get the best care from our experienced doctors.
      Choose your date and time in just a few clicks.
    </p>
    <button class="read-btn" (click)="onClickLogin()"><b>Login</b></button>
  </div>
  <div class="image-section">
    <img src="../../../assets/image1.png" alt="Appointment booking" />
  </div>
</div>
<app-footer></app-footer>
