.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #f5f9ff;
  font-family: Arial, sans-serif;
}
 
/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #e9f1fb;
  padding: 20px;
  border-right: 1px solid #d8e2ef;
}
 
.sidebar h2 {
  color: #1f6feb;
  margin-bottom: 30px;
}
 
.sidebar ul {
  list-style: none;
  padding: 0;
}
 
.sidebar li {
  padding: 12px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}
 
.sidebar li:hover,
.sidebar li.active {
  background-color: #dce9fc;
  color: #1f6feb;
}
 
/* Main content */
.main-content {
  flex: 1;
  padding: 25px;
}
 
/* Topbar */
.topbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
 
.doctor-info {
  font-weight: bold;
  color: #1f6feb;
}
 
 
/* Tables and Details */
.details {
  display: flex;
  gap: 30px;
  margin-top: 25px;
}
 
.appointments{
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
 
table {
  width: 100%;
  border-collapse: collapse;
}
 
thead th {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}
 
tbody td {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
 
.confirmed {
  color: green;
  font-weight: bold;
}
 
.pending {
  color: orange;
  font-weight: bold;
}
 
 
 